@model pu_system_test.Models.Internship

@{
    ViewBag.Title = "Изтриване на стаж";
}

<h2 class="text-center pt-3 pb-2">Изтриване на стаж</h2>

@*<h3 class="text-center pt-3 pb-2">Сигурен ли си, че искаш да изтриеш този стаж?</h3>*@
<div class="box text-center">
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Име</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm.FirmName)
        </dd>

        <dt>
            <label class="control-label">Места</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spots)
        </dd>

        <dt>
            <label class="control-label">Технологии</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technologies)
        </dd>

    </dl>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 text-center">
                <input type="submit" value="Изтрий" class="btn btn-danger pl-3 pr-3" />
                @Html.ActionLink("Назад", "Index", new { area = "" }, new { @class = "btn btn-secondary pl-4 pr-4" })
            </div>
        </div>
    }
</div>
