@model pu_system_test.Models.Internship

@{
    ViewBag.Title = "Детайли за стаж";
}

<h2 class="text-center pt-3 pb-2">Детайли за стаж</h2>

<div class="box text-center">
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Име</label>
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Firm.FirmName)
        </dd>

        <dt>
            <label class="control-label">Места</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spots)
        </dd>

        <dt>
            <label class="control-label">Технологии</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technologies)
        </dd>

    </dl>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-12 text-center">
            @Html.ActionLink("Редактирай", "Edit", new { id = Model.InternshipId }, new { @class = "btn btn-secondary pl-3 pr-3" })
            @Html.ActionLink("Назад", "Index", new { area = "" }, new { @class = "btn btn-secondary pl-4 pr-4" })
        </div>
    </div>
</div>
