@model IEnumerable<pu_system_test.Models.Internship>

@{
    ViewBag.Title = "Index";
}

<h2>Стажове</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firm.FirmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Technologies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firm.FirmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Technologies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InternshipId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InternshipId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InternshipId })
        </td>
    </tr>
}

</table>
