@model IEnumerable<pu_system_test.Models.Internship>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center pt-3 pb-2">Стажове</h2>
<hr />
<p>
    @Html.ActionLink("Нов стаж", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>
<table class="table table-dark">
    <tr>
        <th scope="col">
            @*@Html.DisplayNameFor(model => model.Firm.FirmName)*@
            Фирма
        </th>
        <th scope="col">
            @*@Html.DisplayNameFor(model => model.Spots)*@
            Места
        </th>
        <th scope="col">
            @*@Html.DisplayNameFor(model => model.Technologies)*@
            Технологии
        </th>
        <th scope="col">

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firm.FirmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Technologies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InternshipId }, new { @class = "btn btn-secondary btn-sm pl-3 pr-3" })
            @Html.ActionLink("Details", "Details", new { id = item.InternshipId }, new { @class = "btn btn-info btn-sm pl-3 pr-3" })
            @Html.ActionLink("Delete", "Delete", new { id = item.InternshipId }, new { @class = "btn btn-danger btn-sm pl-3 pr-3" })
        </td>
    </tr>
}

</table>
