@model pu_system_test.Models.Practice

@{
    ViewBag.Title = "Изтриване на практика";
}

<h2 class="text-center pt-3 pb-2">Изтриване на практика</h2>

@*<h3>Are you sure you want to delete this?</h3>*@
<div class="box text-center">
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.Internships.Technologies)
        </dd>

        <dt>
            <label class="control-label">Име</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PracticeName)
        </dd>

        <dt>
            <label class="control-label">Начална дата</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            <label class="control-label">Крайна дата</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 text-center">
                <input type="submit" value="Изтрий" class="btn btn-danger pl-3 pr-3" />
                @Html.ActionLink("Назад", "Index", new { area = "" }, new { @class = "btn btn-secondary pl-4 pr-4" })
            </div>
        </div>
    }
</div>
