@model IEnumerable<pu_system_test.Models.Practice>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center pt-3 pb-2">Практики</h2>
<hr />
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Нова практика", "Create", new { area = "" }, new { @class = "btn btn-success" })
    </p>
}
<table class="table table-dark">
    <tr>
        <th scope="col">
            @*@Html.DisplayNameFor(model => model.PracticeName)*@
            Практика
        </th>
        <th scope="col">
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            Начална дата
        </th>
        <th scope="col">
            @*@Html.DisplayNameFor(model => model.EndDate)*@
            Крайна дата
        </th>
        <th scope="col">

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PracticeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PracticeId }, new { @class = "btn btn-secondary btn-sm pl-3 pr-3" })
                    @Html.ActionLink("Details", "Details", new { id = item.PracticeId }, new { @class = "btn btn-info btn-sm pl-3 pr-3" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PracticeId }, new { @class = "btn btn-danger btn-sm pl-3 pr-3" })
                </td>
            }
            @if (User.IsInRole("Firm"))
            {
                <td>
                    <a href="Practices/Join">
                        <input class="btn btn-primary btn-sm pl-3 pr-3" type="button" value="Влез" />
                    </a>
                </td>
            }
        </tr>
    }
</table>




