@model pu_system_test.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Промени парола";
}

<h2 class="text-center pt-3 pb-2">@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal col-md-8 mx-auto", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger text-center" })
    <div class="form-group">
        @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-12">
            @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Стара парола", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-12">
            @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Нова парола", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-12">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Нова парола", @class = "form-control" })
        </div>
    </div>
    <div class="form-group mt-5">
        <div class="col-md-offset-2 col-md-12 text-center">
            <input type="submit" value="Запиши" class="btn btn-success pl-5 pr-5" />
            @Html.ActionLink("Отказ", "Index", new { area = "" }, new { @class = "btn btn-secondary pl-5 pr-5" })
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}