@model pu_system_test.Models.Student

@{
    ViewBag.Title = "Създай профил";
}

<h2 class="text-center pt-3 pb-2">Създай профил</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-8 mx-auto">
        <h4 class="text-center">Студент</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.StudentFN, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-12">
                @Html.EditorFor(model => model.StudentFN, new { htmlAttributes = new { placeholder = "Факултетен номер", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentFN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-12">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "Име", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-12">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "Фамилия", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-5">
            <div class="col-md-offset-2 col-md-12 text-center">
                <input type="submit" value="Създай" class="btn btn-success pl-5 pr-5" />
                @Html.ActionLink("Отказ", "Index", new { area = "" }, new { @class = "btn btn-secondary pl-5 pr-5" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}